<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__top">
        <a href="/" class="header__logo">
          <img src="/images/logo.svg" alt="logo" />
        </a>

        <form class="header__search search-form">
          <input type="text" name="search" class="search-form__input" placeholder="Пошук зошитів, ручок та іншого..." />
          <button type="submit" class="search-form__button cursor">
            <svg width="24px" height="24px">
              <use href="/images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>

        <div class="header__actions">
          <a href="/schoolkits" class="header__action">
            <svg class="header__action-icon header__action-icon--deal" width="32px" height="32px">
              <use href="/images/icons.svg#icon-deal"></use>
            </svg>
            <span class="header__action-text header__action-text--deal">School deals</span>
          </a>
          <a href="/login" class="header__action">
            <svg class="header__action-icon" width="32px" height="32px">
              <use href="/images/icons.svg#icon-login"></use>
            </svg>
            <span class="header__action-text">Sign Up/Sign In</span>
          </a>
          <button type="button" class="header__action cursor">
            <svg class="header__action-icon" width="32px" height="32px">
              <use href="/images/icons.svg#icon-cart"></use>
            </svg>
            <span class="header__action-text">Кошик</span>
          </button>
        </div>
      </div>

      <div class="header__bottom">
        <ul class="header__category category-menu">
          <% categories.forEach(category => { %>
          <li class="category-menu__item">
            <button type="button" class="category-menu__link">
              <%= category.name %>
              <svg class="category-menu__icon" width="18px" height="18px">
                <use href="/images/icons.svg#icon-arrowDown"></use>
              </svg>
            </button>

            <div class="category-menu__dropdown dropdown-menu">
              <div class="dropdown-menu__grid">
                <% category.subcategories.forEach(sub => { %>
                <a href="<%= sub.href %>" class="dropdown-menu__item">
                  <div class="dropdown-menu__image">
                    <img src="<%= sub.image %>" alt="<%= sub.title %>">
                  </div>
                  <span class="dropdown-menu__title"><%= sub.title %></span>
                </a>
                <% }); %>
              </div>
               </div>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</header>