<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__top">
        <a href="/" class="header__logo">
          <img src="/images/logo.svg" alt="logo" />
        </a>

        <form action="/search" method="GET" class="header__search search-form">
          <input
            type="text"
            name="q"
            class="search-form__input"
            placeholder="Пошук зошитів, ручок та іншого..."
          />
          <button type="submit" class="search-form__button cursor">
            <svg width="24px" height="24px">
              <use href="/images/icons.svg#icon-search"></use>
            </svg>
          </button>
        </form>

        <div class="header__actions">
          <a href="/schoolkits" class="header__action">
            <svg
              class="header__action-icon header__action-icon--deal"
              width="32px"
              height="32px"
            >
              <use href="/images/icons.svg#icon-deal"></use>
            </svg>
            <span class="header__action-text header__action-text--deal"
              >School deals</span
            >
          </a>
          <% if (locals.userName) { %>
          <a href="/logout" class="header__action logout-link">
            <svg class="header__action-icon" width="24px" height="24px">
              <use href="/images/icons.svg#icon-exit"></use>
            </svg>
            <span class="header__action-text">Вийти</span>
          </a>
          <% } else { %>
          <a href="/login" class="header__action">
            <svg class="header__action-icon" width="32px" height="32px">
              <use href="/images/icons.svg#icon-login"></use>
            </svg>
            <span class="header__action-text">Увійти</span>
          </a>
          <% } %>
          <a href="/cart" class="header__action header__cart-link">
            <div class="cart-wrapper">
              <svg class="cart-icon">
                <use href="/images/icons.svg#icon-cart"></use>
              </svg>
              <% if (locals.cartCount > 0) { %>
              <!-- Використовуємо вже пораховане на сервері число -->
              <span class="cart-badge"><%= cartCount %></span>
              <% } %>
            </div>
          </a>
          <% if (locals.userRole === 'ADMIN') { %>
          <a
            href="/admin"
            class="header__action admin-link"
            style="color: var(--color-brand-dark)"
          >
            <span class="header__action-text">Адмінка</span>
            <svg class="header__action-icon" width="24" height="24">
              <use href="/images/icons.svg#icon-settings"></use>
            </svg>
          </a>
          <% } %>
        </div>
      </div>

      <div class="header__bottom">
        <ul class="header__category category-menu">
          <% categories.forEach(category => { %>
          <li class="category-menu__item">
            <button type="button" class="category-menu__link">
              <%= category.name %>
              <svg class="category-menu__icon" width="18px" height="18px">
                <use href="/images/icons.svg#icon-arrowDown"></use>
              </svg>
            </button>

            <div class="category-menu__dropdown dropdown-menu">
              <div class="dropdown-menu__grid">
                <% category.subcategories.forEach(sub => { %>
                <a href="<%= sub.href %>" class="dropdown-menu__item">
                  <div class="dropdown-menu__image">
                    <img src="<%= sub.image %>" alt="<%= sub.title %>" />
                  </div>
                  <span class="dropdown-menu__title"><%= sub.title %></span>
                </a>
                <% }); %>
              </div>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</header>
